body {
    background-image: url('topography.png');
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

a {
    font-family: 'Contrail One', cursive;
    font-size: 20px;
    color: #70C1B3;
}

#sign-up-button{
    margin-left: 41%;
    background: #247BA0;
    width:200px;
}

a:hover{
    text-decoration: none;
    color: #B2DBBF;
}

.row {
    padding: 0px;
    margin: 0px;e
}

nav{
    background: white;
}

.container{
    background: white;
    width:80%;
}

#loginlink {
    padding: 0px;
    margin: 0px;
    line-height: 10px;
    float: left;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    background: #fff;
}

.col.s12.left {
    padding-top: 25px;
    font-family: 'Contrail One', cursive;
    color: #70C1B3;
    font-size: 25px;
    text-align: center;
    background: #FFF;
    height: 50px;
    margin-bottom: 20px; 
}

.col.s12.right {
    font-family: 'Contrail One', cursive;
    color: #000;
    text-align: center;
    background: #FFF;
    height: 50px;
    margin-bottom: 60px;
}

.col.s4.one {
    margin-top: 50px;
    font-family: 'Contrail One', cursive;
    color: #000;
    text-align: center;
    background: #FFF;
    height: 200px;
}

.col.s4.two {
    margin-top: 50px;
    font-family: 'Contrail One', cursive;
    color: #000;
    text-align: center;
    background: #FFF;
    height: 200px;
}

.col.s4.three {
    margin-top: 50px;
    font-family: 'Contrail One', cursive;
    color: #000;
    text-align: center;
    background: #FFF;
    height: 200px;
}

.col.s4.bone {
    font-family: 'Contrail One', cursive;
    padding-top: 25px;
    font-size: 16px;
    color: #000;
    text-align: right;
}

.col.s4.btwo {
    font-family: 'Contrail One', cursive;
    padding-top: 25px;
    font-size: 16px;
    color: #000;
    text-align: right;
}

.col.s4.bthree {
    font-family: 'Contrail One', cursive;
    padding-top: 25px;
    font-size: 16px;
    color: #000;
    text-align: right;
}

.col.s6.work{
    padding-top: 25px;
    font-family: 'Contrail One', cursive;
    color: #000;
    text-align: center;
    background: #FFF;
    margin-bottom: 20px; 
}

.col.s6.worktwo{
    padding-top: 200px;
    font-family: 'Contrail One', cursive;
    color: #000;
    text-align: center;
    background: #FFF;
    margin-bottom: 20px; 
}

.spot{
    width:500px;
}

.pawaw {
    text-align: left;
    font-family: 'Contrail One', cursive;
    font-size: 40px;
    color: #FF1654;
}

.row.top{}

.girls{
    width:1100px;
    margin-left: 20px;
}

p {
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 40px;
    color: #FF1654;
}

h1 {
    font-family: 'Contrail One', cursive;
    text-align: center;
    color: #000;
}

i.material-icons {
    padding-top: 20px;
    display: block;
    text-align: center;
    color: #000;
}

#third-row {
    background: gray;
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 25px;
    color: #000;
    font-weight: bold;
}

#footer{
    background: #F3FFBD;
    height:250px;
}

/*modal */

/*.modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    border: 2px solid #fff;
}

.modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    background: rosybrown;
    border-radius: 0px;
    border: 2px solid #fff;
}

h4 {
    font-family: 'Contrail One', cursive;
    color: #000000;
    font-size: 30px;
}

.sign-in-p {
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 20px;
    color: #000;
    text-align: justify;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    color: #000;
}

.input-field label {
    color: #000;
}

.input-field input[type=text]:focus + label {
    color: #000;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix.active {
    color: #000;
}

a:hover {
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

nav ul a:hover {
    background-color: none;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 27%;
    margin: auto;
    overflow-y: auto;
    border-radius: 0px;
    will-change: top, opacity;
}*/
/*
#form-button {
    margin-top: 10px;
    background: darkgrey;
}
*/



.modal.modal-fixed-footer {
    padding: 0;
    height: 50%;
    width: 19%;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    outline: 0;
}

.modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    border-radius: 0px;
    width: 100%;
    overflow-y: auto;
}

.input-field {
    position: relative;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 1rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 10px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

.input-field {
    margin-left: 0px !important;
    position: relative;
    margin-top: 0rem;
}

#form-button {
    margin-left: 5px;
}



/*map area*/
#map-row{
    padding-top: 30px;
    padding-bottom: 30px;
}

#map {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    width: 100%;
}
